<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.nasca.gpsreminder"
    android:versionCode="3"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="at.nasca.gpsreminder.ReminderActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <service android:name="ReminderService" >
        </service>
        
         <receiver android:name="ReminderReceiver">
          <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"></action>       
          </intent-filter>
        </receiver>
        
         <receiver android:name="at.nasca.gpsreminder.GpsStatusReceiver">
               <intent-filter>
        <action android:name="android.location.PROVIDERS_CHANGED" />
        <category android:name="android.intent.category.DEFAULT" />
    </intent-filter>
         </receiver>
        
    </application>

</manifest>
